.movie{
    display: flex;
    flex-direction: column;
    height: 100%;
    .title{
        text-align: center;
        font-size: 16px;
        background: linear-gradient(to right, #6F50F5,#C26DFE);
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        color:#fff;
    }
    .movieDetail{
        display: flex;
        justify-content: center;
        color:#999;
        font-size: 14px;
        margin: 10px;
        & > div{
            margin-right: 20px;
        }
    }
    .btn{
        text-align: center;
        font-size: 16px;
        background: linear-gradient(to right, #6F50F5,#C26DFE);
        height: 50px;
        line-height: 50px;
        vertical-align: middle;
        color:#fff;
    }
    .choose{
        font-size: 14px;
        text-indent: 10px;
        padding: 10px 0;
    }
    .chooseTitle{
        line-height: 30px;
        font-size: 12px;
    }
    .choosePoint{
        line-height: 30px;
        font-size: 12px;
        & > .point{
            border: 0.07143rem solid #ccc;
            text-align: center;
            text-align: center;
            margin-left: 10px;
            border-radius: 10px;
            font-size: 12px;
            display: inline-block;
            text-indent: 0;
            padding: 0 10px;
            line-height: 25px;
        }
    }
    
}