.vip-adv{
  height:40px;
  background:linear-gradient(317deg,rgba(18,24,43,1) 0%,rgba(58,65,88,1) 100%);
  border-radius:8px;
  background: url('../../images/me-bg.png') no-repeat;
  background-size:100%;
  margin: 12px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px 0 9px;
  .vip-img{
    height:12px;
    padding-right: 8px;
   
  }
  .line{
    width:1px;
    height:18px;
    background:rgba(216,216,216,1);
    opacity:0.31;
  }
  .df{
    display: flex;
    align-items: center;
  }
  .slider-text{
    margin-left: 7px;
    font-size: 13px;
    color: #EAD195;
    font-weight:400;
  }
  .btn-more{
    width:66px;
    height:25px;
    background:linear-gradient(322deg,rgba(166,124,56,1) 0%,rgba(234,209,149,1) 100%);
    box-shadow:0px 0px 9px 0px rgba(0,33,69,0);
    border-radius:15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    font-size: 12px;
  }
}