.orderdetail{
  margin: 5px 10px 5px 10px ;
  padding-bottom: 30px;
  height: 100%;;
  background:rgba(255,255,255,1);
  border-radius:8px;
  overflow: hidden;
  .orderdetail_title {
    overflow:hidden;  
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-top: 20px;
    margin-left: 15px;
    width:205px;
    height:15px;
    font-size:15px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height:14px;
  }
  .orderdetail_container{
    margin-top: 15px;
    margin-right: 15px;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    margin-left: 15px;
    // padding-right: 15px;;
    >div{
      flex :0 ,0, 100%;
      display: flex;
      width:100%;
      justify-content: space-between;
      height: 30px;
      font-size:15px;
      font-family:PingFangSC-Regular,PingFang SC;
      font-weight:400;
      color:rgba(0,0,0,0.5);
      line-height:30px;
      span:first-child{
        width: 100px;
      }
      span:last-child{
        overflow:hidden;  
        text-overflow:ellipsis;
        white-space:wrap;
        font-size:15px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        line-height:30px;
      }
    }
  }
}