.Active{
    background: rgb(17, 13, 56);
    img{
        width: 100%;
    }
    .info{
        color:#fff;
        margin: 20px 20px 0;
        font-size: 12px;
        .title{
            font-size: 18px;
            color: rgb(163, 114, 0);
            border-radius: 100px;
            background-image: linear-gradient(to right, rgb(245,219,132) , #EABA71);
            text-align: center;
            padding: 5px;
            width: 160px;
            margin:0 auto 20px;
            box-shadow: inset 1px 1px 10px #fff;
        }
        .txt{
            line-height: 20px;
        }
    }
    .storelist{
        color:rgb(85,90,239);
        text-decoration: underline;
        margin: 20px 0;
        text-align: center;
    }
}