:global{
    :root {
        --main-bg-color: pink;
        --transformX: 0px;
        --transformY: 0px;
        --scale: 1;
    }
}
.stage{
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    background:#efefef;
    height: 100%;
    .content{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .screen{
        border-top: 25px solid #dfdfdf;
        border-right: 25px solid transparent;
        border-left: 25px solid transparent;
        color: #000;
        text-align: center;
        position: relative;
        z-index: 99;
        &:before{
            content: attr(alt);
            transform: translateY(-24px);
            display: block;
            color:#fff;
        }
    }
    .lineLeft{
        margin: 0;
        padding: 0;
        background: #999;
        position: absolute;
        left:3px;
        z-index: 90;
        border-radius: 100px;
        color: #fff;
        opacity: .8;
        font-size: 13px;
        // top: 77PX;
        transform: translateY(var(--transformY)) scale(var(--scale));
        transform-origin: 0 0;
        li{
            height: 20PX;
            width: 15PX;
            text-align: center;
        }
    }
    .viewStage{

        // &:before{
        //     content: ' ';
        //     border-right: 2px dashed #ddd;
        //     // transform: translateX(50%);
        //     position: absolute;
        //     width: 0px;
        //     height: 150%;
        //     left: 50%;
        //     z-index: 1;
        //     margin: -25PX 0 0 0;
        //     // margin: -30px 0;
        // }
        transform-origin:50% 0;
        transform: translate(var(--transformX), var(--transformY)) scale(var(--scale));

        .siteTable{
            display: flex;
            justify-items: center;
            flex-direction: column;
            & > div{
                display: flex;
                flex-wrap: nowrap;
                &>div{
                    flex: 0 0 20px;
                    width: 20PX;
                    height: 20PX;
                }
            }
        }





        .innerStage{
            transform: scale(var(--scale)) translateX(0%);
            left: 0%;
        }
        .innerBigStage{
            transform: scale(var(--scale)) translateX(-50%);
            left: 50%;
        }
        .innerStage,.innerBigStage{
            position: relative;
            margin: 0 auto;
            
            & > div{
                // display: flex;
                // flex-wrap: nowrap;
                display: table-row;
                z-index: 10;
                position: relative;
                & > div{
                    flex:0 0 20px;
                    display: table-cell;
                    width: 20PX;
                    height: 20PX;
                    overflow: hidden;
                    text-align: center;
                }
            }
        }
    }
    .site{
        background: url('../images/1.png') no-repeat;
        background-size: 100% 100%;
    }
    .empty {
        background: url('../images/2.png') no-repeat;
        background-size: 100% 100%;
    }
    .fixed {
        background: url('../images/3.png') no-repeat;
        background-size: 100% 100%;
    }
    .loveleft{
        background: url('../images/4.png') no-repeat;
        background-size: 100% 100%;
    }
    .loveright{
        background: url('../images/5.png') no-repeat;
        background-size: 100% 100%;
    }
    .lovedleft{
        background: url('../images/6.png') no-repeat;
        background-size: 100% 100%;
    }
    .lovedright{
        background: url('../images/7.png') no-repeat;
        background-size: 100% 100%;
    }
}