.CardPackageHead{
  
  height:221px;
  background:linear-gradient(311deg,rgba(18,24,43,1) 0%,rgba(18,24,43,1) 100%);
}

.CardPackage{
    margin: 0 auto;
    margin-top: -85px;
    width:355px;
    height:287px;
    background:rgba(255,255,255,1);
    border-radius:8px;
   
    
    .CardPackageMain{
      overflow: hidden;
      .CardPackageMainSelect{
        position: relative;
        margin-top: 34px;
       
        >span:first-child{
          margin-left: 24px;

        }
        >input{
          margin-top: 10px;
          width:335px;
          height:44px;
          background:rgba(248,248,248,1);
          border-radius:4px;
          font-size:14px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(0,0,0,0.2);
          line-height:20px;
         
          outline-style: none;
          margin-left: 10px;
          padding-left: 10px;
          border: 0px;

        }
        >span:last-child{
          position: absolute;
          top:43px;
          right:30px;
          color:rgba(0, 0, 0, 1)
          
          

         

        }

      }
      .CardPackageMainPut{
        position: relative;
        margin-top: 15px;
       
        >span:first-child{
          margin-left: 24px;

        }
        >input{
        
          font-size:14px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(0,0,0,0.2);
          line-height:20px;
          margin-top: 10px;
          width:335px;
          height:44px;
          background:rgba(248,248,248,1);
          border-radius:4px;
         
          outline-style: none;
          margin-left: 10px;
          padding-left: 10px;
          border: 0px;

        }
        >img{

          position: absolute;
          top:43px;
          right:80px;
          color:rgba(0, 0, 0, 1)
          
          

         

        }
        >span:last-child{
          position: absolute;
          top:43px;
          right:20px;
         
          font-size:12px;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(18,24,43,1);
          line-height:20px;

        }


      }


    }
    .CardPackageMainGet{
      width:335px;
      height:40px;
      background:linear-gradient(322deg,rgba(166,124,56,1) 0%,rgba(234,209,149,1) 100%);
      border-radius:4px;
      text-align: center;
      margin: 0 auto;
      line-height: 40px;
      margin-top: 30px;

    }
}