.preview {
  position: fixed;
  width: 360px;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 100;

  .sitebox {
    .row {
      height: 16px;
    }
    .item {
      width: 8px;
      height: 8px;
      background: #fff;
      display: inline-block;
      margin: 2px;
    }
  }
  .checked {
    background: red !important;
  }
}