:global {
  .z_switch_account {
    margin-bottom: 20px;
    .z_switch_head {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between;
    }
    .z_switch_account_input {
      background: var(--gray3);
      border-radius: 4px;
      height: 44px;
      line-height: 44px;
      padding: 0 10px;
      .za-input {
        display: inline-block;
        width: calc(100% - 100px);
        height: 44px;
        // background: #aaa;
      }
      .z_switch {
        display: inline-block;
        width: 100px;
        height: 100%;
        text-align: right;
        img {
          width: 16px;
          vertical-align: middle;
          margin-right: 4px;
        }
        span {
          vertical-align: middle;
          font-size: 12px;
        }
      }
    }
    .z_tip {
      font-size: 12px;
      text-align: right;
      color: var(--gray2);
    }
    .z_qq_info {
      img {
        width: 18px;
        vertical-align: middle;
      }
      span {
        margin-left: 5px;
      }
    }
  }
}