:global {
  .z_card {
    background: #fff;
    border-radius: 8px;
    padding: 16px 18px;

    .z_card_head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .z_card_title {
      font-size: 16px;
      font-weight: 500;
    }
  }
}