.hot-recommend{
  .thumbnail{
    display: flex !important;
    align-items: center;
    justify-content: center;
   
    img{
      width:60px;
      height:60px;
    }
  }
  .main-image{
    img{
      height: 122px;
      width:100%;

    }
  }
  .title{
    color:#12182B;
    padding-left: 12px;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
  }
}