.countdown {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
  height:28px;
  text-align: center;
  background: rgba(255,154,82,0.24);
  border-radius:110px 100px 100px 110px;
  padding-top: 5px;
  font-size:17px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:#FFE7D6;
  line-height:1px;
  >img{ 
    padding-right: 8px;
  }
}

.unit {
  display: inline-block;
  border-radius: 2px;
  color: #FF9A52;
  width: 16px;
  text-align: center;
  font-size: 17px;
}
.separator {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  color: #000000;
  font-weight: 500;
  color: #FF9A52;
  font-size: 17px;
}
