@import '~@/less/variable.less';
.homeBanner{
  background-color: @blue;
  overflow: hidden;
  position: relative;
  height: 193px;
  .item{
    height: 193px;
    text-align: center;
    >img{
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  .pageItem{
    display: inline-block;
    width: 10px;
    height: 3px;
    border-radius: 2px;
    background-color: fade(@white, 40);
    margin-right: 3px;
    &.active{
      background-color: @white;
    }
  }
  .dotsContainer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    white-space: nowrap;
    >li{
      display: inline-block;
    }
  }
}
