.title-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  color: #12182B;
  font-weight: bold;
  font-size: 14px;
  padding: 0 12px;


  .title{

  }
  
}
.slider-item-box{
  // padding: 0 10px;
}
