:global {
  .z_layout {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .z_layout_header,
  .z_layout_navbar {
    flex: none;
  }
  .z_layout_cont {
    flex: 1;
    overflow-y: scroll;
  }

  .z_layout_header {
    background: #fea;
  }

  .z_layout_navbar {
    width: 100%;
    height: var(--navbar);
    padding: 5px 0;
    background: #fff;
    border-top: var(--border);
    display: flex;
    .z_tab_item {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 14px;
      img {
        width: 26px;
        height: 26px;
      }
      &.active {
        color: var(--theme-primary);
      }
    }
  }
}