:root {
  --theme-primary: #07C160;
  --border: 1px solid #aaa;
}

html, body, #root {
  height: 100%;
  font-size: 16px;
  font-family: Chinese Quote, -apple-system, PingFang SC, Microsoft YaHei, Helvetica, Arial,
    sans-serif;
}

body {
  margin: 0;
}

#root {
  padding-top: 1px;
  position: relative;
  background: #eee;
  box-sizing: border-box;
}

.ex_root {
  // width: 750px;
  // max-width: 750px;
  margin: 0 auto;
  height: 100%;
}

.wx__head {
  padding-top: 40px;
  .z_bar_cont {
    height: calc(100vh - 100px) !important;
  }
}