:root {
  --theme-primary: #07C160;
  --border: 1px solid #aaa;

  // layout
  // --navbar: 60px;
  // --wx-head: 40px;
}

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  font-family: Chinese Quote, -apple-system, PingFang SC, Microsoft YaHei, Helvetica, Arial,
    sans-serif;
}

html {
  line-height: inherit !important;
}

div {
  box-sizing: border-box;
}

// #root {
//   // padding-top: 1px;
//   // position: relative;
//   background: #eee;
//   box-sizing: border-box;
// }

// .ex_root {
//   // width: 750px;
//   // max-width: 750px;
//   margin: 0 auto;
//   height: 100%;
// }
