.myPage{
  .wallet-container{
    margin-top: 30px;
  }
  .belt-container{
    margin-top: 28px;
  }
  .recommend-title{
    margin-bottom: 15px;
  }
  .recommend-container{
    margin-top: 30px;
  }
}