*{
    list-style: none;
    margin: 0;
    padding: 0;}

.myPage {
    background-color:#fff;
    :global{

            
        .me_avatar{
            position: relative;
            width: 100%;
            height: 156px;
            background: url('./images/me-bg.png') no-repeat;
            background-size:100%;
            .me_avatar-img{
                position: absolute;
                
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #fff;
                left: 50%;
                margin-left: -50px;
                bottom: -40px;
                .img {
                    width: 95px;
                    height: 95px;
                    border-radius: 50%;
                    margin: 2px;
                    border: 1px black solid;
                  }
            }
            .me_vip{
                background-image: url(./images/白金会员.png);
                background-repeat: no-repeat;
                width: 27px;
                 height: 27px;
                 background-size: 100%;
                 position: absolute;
                 top:180px;
                 left:50%;
                 transform: translateX(-50%);
                }
            .me_nickname{
                position: absolute;
                top:210px;
                text-align: center;
                font-size: 16px; 
                width: 100%;
            }

        }
        .me_container{
            margin-top: 116px;
           
            ul{
                margin-left: 15px;
                .me_container-pro{
                    height: 60px;
                    line-height: 60px;
                    padding-left: 53px;
                    

                    font-size: 15px;
                   border-bottom: 1px solid#E1E1E1;
                    
                }
                .me_container-order{
                    height: 60px;
                    padding-left: 53px;
                    line-height: 60px;
                    font-size: 15px;
                    border-bottom: solid 1px #E1E1E1;
                    
                }
                .me_container-change{
                    height: 60px;
                    padding-left: 53px;
                    line-height: 60px;
                    font-size: 15px; 
                    border-bottom: solid 1px #E1E1E1;
                    
                }
                .me_container-service{
                    height: 60px;
                    padding-left: 53px;
                    line-height: 60px;
                    font-size: 15px;
                    border-bottom: solid 1px#E1E1E1;
                    
                    
                }
            }

        }

    }
   


}
